<form novalidate name="emiForm">
    <div class="col-md-4">
        <div class="form-group">
            <label>Loan Amount</label>
            <div class="input-group">
                <input type="number" class="form-control" ng-change="calculateEMI()" ng-model="principalAmount" describedby="loanAmountAddOn" placeholder="Loan Amount" required />
                <span class="input-group-addon" id="loanAmountAddOn">$</span>
            </div>

        </div>
        <div class="form-group">
            <label>Rate of Interest</label>
            <div class="input-group">
                <input type="number" class="form-control" describedby="rateOfInterestAddOn" ng-change="calculateEMI()" ng-model="rateOfInterest" placeholder="Rate of Interest" required />
                <span class="input-group-addon" id="loanAmountAddOn">%</span>
            </div>
        </div>
        <div class="form-group">
            <label>Tenure</label>
            <div class="input-group">
                <input type="number" class="form-control" describedby="noOfMonthsAddOn" ng-change="calculateEMI()" ng-model="noOfMonths" placeholder="Tenure" required />
                <span class="input-group-addon" id="noOfMonthsAddOn">months</span>
            </div>
        </div>
        <div class="form-group" ng-if="false">
            <input type="button" class="btn btn-primary" value="Calculate" ng-click="calculateEMI()" />
        </div>
    </div>
    <div ng-if="emiTable.length > 0" class="col-md-8">
        <emi-table 
             datasource="{{emiTable}}" 
             page-size="10">
        </emi-table>
    </div>
</form>
