<form novalidate name="emiForm">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2>{{calculatorTitle}}</h2>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label>Loan Amount</label>
                <input type="number" class="form-control" ng-model="principalAmount" ng-change="calculateEMI()" placeholder="Loan Amount" required />
            </div>
            <div class="form-group">
                <label>Rate of Interest</label>
                <input type="number" class="form-control" ng-model="rateOfInterest" ng-change="calculateEMI()"  placeholder="Rate of Interest" required />
            </div>
            <div class="form-group">
                <label>Tenure</label>
                <input type="number" class="form-control" ng-model="noOfMonths" ng-change="calculateEMI()" placeholder="Tenure" required />
            </div>
            <div class="form-group">
                <input type="button" class="btn btn-primary" value="Calculate" ng-click="calculateEMI()" />
            </div>
        </div>
    </div>
    <div>
        <table class="table  table-hover table-striped table-responsive" ng-if="emiTable.length > 0">
            <tr>
                <th></th>
                <th>Monthly EMI</th>
                <th>Principal Amount Remaining</th>
                <th>Principal Amount Paid</th>            
                <th>Monthly Interest</th>
            </tr>
            <tbody>
                <tr ng-repeat="et in emiTable">
                    <td>{{et.month}}</td>
                    <td>{{et.monthlyEmi}}</td>
                    <td>{{et.principalAmountLeft}}</td>
                    <td>{{et.principalAmountPaid}}</td>                 
                    <td>{{et.monthlyInterestPaidOnExistingPrincipalAmount}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
